{% extends "base.html" %}

{% block title %}MIPT.one - Ссылки и ресурсы для студентов МФТИ{% endblock %}

{% block real_content %}



	<div class="container-fluid" id="mainpagemainframe">
		
		<div class="row" id="mainrows"> <!-- 4 колонны-->
		
	
		<div class="col-sm-3"> <!-- 1 colomn-->
            <!-- <div class="row-sm-3" style="background-color: #f2f2f2;">
				<ul>
                    <li>
						<a class="weatherwidget-io" href="https://forecast7.com/ru/55d9537d50/dolgoprudny/" data-label_1="Погода" data-label_2="в Долгопрудном" data-icons="Climacons Animated" data-mode="Current" data-days="3" data-theme="pure" data-basecolor="" >Погода в Долгопрудном</a>
						<script>
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
						</script>
					</li>
				</ul>
            </div> -->
            
            
            <div class="row-sm-3" style="background-color: #f2f2f2;"><span class="boxtitle2">Скат Общее</span>
			<ul id="allyouneed">
				<!-- <li><a id="bloglink" href="https://mipt.one/blog/" rel="noreferrer" target="_blank" data-toggle="tooltip" data-placement="right" title="(лат. Diplobatis pictus) — вид скатов рода диплобатисов семейства лат. Narcinidae отряда электрических скатов.">Гайанский диплобатис</a></li>
				<li> -->
                <!--
                <div id = "divifer" class="ifcontainer">
					<iframe class="responsive-iframe" id="ifer" src="https://mipt.one/blog/index.php/search"></iframe>
                </div> 
                    -->
				</li>
				<li><a href="https://text.ru/" rel="noreferrer" target="_blank">Проверка на плагиат</a></li>
				<li><a href="https://mipt.one/antiplag/" rel="noreferrer" target="_blank">Антиплагиат</a></li>
                <li><a href="https://mipt.one/physics/" data-bs-toggle="tooltip" data-bs-placement="right" title="Скат">Банк задач по физике</a> | <a href="https://t.me/miptone_bot">TG Bot</a></li>
                <!-- <li><a href="https://mipt.one/physics/">Все лабы здесь</a></li> -->
				<li><a href="https://vk.com/fanclub_letchikleha" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Скат">Клуб фанатов ЛЛ</a></li>
				<li><a href="https://drive.google.com/drive/folders/0B5U2D1zceCRyZ1FDaWVUUzNWVVE" rel="noreferrer" target="_blank">Тупой скат </a>(<a href="https://vk.com/tupoy_skat" rel="noreferrer" target="_blank">VK</a>)</li>
				<li><a href="https://drive.google.com/drive/folders/0BzLQByfHfn5bd1hETFJYc2x3UzQ" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Скат">Наследие 2.0</a></li>
				<li><a href="https://drive.google.com/drive/folders/1nAHobOEDrF2bgNwkcbYO_ib3lARjrhc-" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Скат">MIPT+RANEPA Data Base</a></li>
				<li><a href="https://vk.com/t_p_phystech" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Еще скат">ТПФ</a></li>
				<li><a href="https://vk.com/club188560953" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Скат">Лаборант Дима и Карлсон</a></li>
                
			</ul>
			</div>


			<div class="row-sm-3" style="background-color:#f2f2f2;"><span class="boxtitle2">Английский</span>
			<ul>
				<li><a href="http://moodle.phystech.edu/login/index.php" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="<img src='/staticfiles/images/botayenglish_400.jpg'>">Moodle</a></li>
				<li><a href="https://translate.google.com/" rel="noreferrer" target="_blank">Google Translate</a></li>
				<li><a href="https://chrome.google.com/webstore/detail/moodle-breaker/engmdgoencliofhoomjomajchpiljoio" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Расширение для Chrome, ломающее квизы">Moodle Breaker</a></li>

			</ul>
            </div>
            
			<div class="row-sm-3" style="background-color:#f2f2f2;"><span class="boxtitle2">Прога</span>
				<ul>
					<li><a href="http://ejudge.mipt.ru/" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Ссылки на все контесты">Ejudge</a></li>
					<!-- <li><a href="https://github.com/barklan/mipt_algo" rel="noreferrer" target="_blank" data-toggle="tooltip" data-placement="right" title="Говнокод">Решение контестов Py (САУ)</a></li> -->
				</ul>
			</div>
		</div> <!-- /1 colomn-->
		
		<div class="col-sm-3"> <!-- 2 colomn-->

            <div class="row-sm-3" style="background-color: #f2f2f2;"><span class="boxtitle3">Лекции</span>
                <ul>
                    <li><a href="https://mipt.ru/education/elektronnoe-obuchenie/virtualRooms/" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Видеолекции Физтеха">Виртуальные аудитории МФТИ</a></li>
                    <li><a href="https://mipt.ru/online/" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Видеолекции Физтеха">Онлайн-лекции МФТИ</a></li>
                    <li><a href="https://mipt.lectoriy.ru/" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Видеолекции Физтеха">Лекторий МФТИ</a></li>
                    <li><a href="https://www.feynmanlectures.caltech.edu/" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Курс лекций по общей физике, прочитанный Ричардом Фейнманом в 1960-х в Калифорнийском технологическом институте. Заходит очень хорошо">The Feynman Lectures on Physics</a></li>

                </ul>
            </div>

            <div class="row-sm-3" style="background-color: #f2f2f2;"><span class="boxtitle3">Решалки</span>
				<ul>
					<li><a href="https://www.wolframalpha.com/" rel="noreferrer" target="_blank">Wolfram|Alpha</a></li>
					<li><a href="https://www.symbolab.com/" rel="noreferrer" target="_blank">Symbolab</a></li>
					<li><a href="https://www.desmos.com/calculator" rel="noreferrer" target="_blank">Desmos Graphing</a></li>

				</ul>
			</div>
			<!-- <div class="row-sm-3" style="background-color:#f2f2f2;"><span class="boxtitle3">Редакторы</span>
				<ul>
					<li><a href="https://docs.google.com/document/" rel="noreferrer" target="_blank">Google Docs</a></li>
					<li><a href="https://docs.google.com/spreadsheets/" rel="noreferrer" target="_blank">Google Sheets</a></li>
					<li><a href="https://docs.google.com/presentation/" rel="noreferrer" target="_blank">Google Slides</a></li>
					<li><a href="https://pixlr.com/x/" rel="noreferrer" target="_blank">Pixlr X</a></li>

				</ul>
			</div> -->
			<div class="row-sm-3" style="background-color:#f2f2f2;"><span class="boxtitle3">Книги и Пиратство</span>
				<ul>
					<li><a href="https://lib.mipt.ru/" rel="noreferrer" target="_blank">Эл. библ. Физтеха</a></li>
                    <li><a href="https://ru.book4you.org/" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Самая большая электронная библиотека. Здесь есть всё">Z-Lib</a> | <a href="loginlibhuwhnmis.onion/" rel="noreferrer" target="_blank">.onion ссылка</a></li>
					<li><a href="http://flibustahezeous3.onion/" rel="noreferrer" target="_blank">Флибуста .onion</a></li>
					<li><a href="https://rutracker.org/forum/index.php" rel="noreferrer" target="_blank">Rutracker</a></li>
                    <!-- <hr>
                    <li><p>
                    На .onion адреса заходить с помощью <a href="https://www.torproject.org/">Tor</a>. Для обхода блокировки Роскомнадзора - также Tor, или временные прокси (<a href="https://spys.one/">например здесь</a>), или VPN (например ломаный <a href="https://4pda.ru/forum/index.php?showtopic=902760">VPNhub для Android</a>).
                    </p></li> -->

				</ul>
            </div>
            
           
		</div> <!-- /2 colomn-->

		<div class="col-sm-3"> <!-- 3 colomn-->
			<div class="row-sm-3" style="background-color: #f2f2f2;"><span class="boxtitle" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">МФТИ и Информация</span>
			<ul class="collapse show" id="collapseExample">
				<li><a href="https://profile.mipt.ru/" rel="noreferrer" target="_blank">Личный кабинет МФТИ</a></li>
				<li><a href="https://mipt.ru/about/departments/uchebniy/schedule/" rel="noreferrer" target="_blank">Расписания</a></li>
				<li><a href="https://lms.mipt.ru/login/index.php" rel="noreferrer" target="_blank">LMS МФТИ</a></li>
				<li><a href="https://mipt.ru/students/life/poliklinika/" rel="noreferrer" target="_blank">Поликлиника МФТИ</a></li>
				<li><a href="http://wikimipt.org/wiki/" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Cайт о преподавателях МФТИ">ВикиФизтех</a></li>
				<li><a href="http://miptstream.ru/" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Студенческое СМИ Физтеха">Поток</a></li>
				<li><a href="https://vk.com/@dbmp_council-pamyatka-pervokursnika" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Неплохая памятка первокурсника от студсовета ФБМФ">Памятка первокурсника</a></li>
				<li><a href="https://mipt.one/staticfiles/images/miptmap.png" rel="noreferrer" target="_blank">Карта МФТИ</a></li>

			</ul>
			</div>
			
			<div class="row-sm-3" style="background-color:#f2f2f2;"><span class="boxtitle">Кафедры</span>
			<ul>
				<li><a href="https://mipt.ru/education/chair/mathematics/" rel="noreferrer" target="_blank">Каф. высшей математики</a></li>
				<li><a href="https://mipt.ru/education/chair/sport/" rel="noreferrer" target="_blank">Департамент ... спорта</a></li>
				<li><a href="https://docs.google.com/spreadsheets/d/1WQTbTC6MpcvPmfJOpiPNoM8vMLMwi6UBAE1f3xiC4_c/edit?usp=sharing" rel="noreferrer" target="_blank">Спортивные секции контакты</a></li>
				<li><a href="https://mipt.ru/education/chair/" rel="noreferrer" target="_blank" class = "clearnet">Еще кафедры</a></li>

			</ul>
			</div>

			<div class="row-sm-3" style="background-color:#f2f2f2;"><span class="boxtitle">Перки от МФТИ</span>
			<ul>
				<li><a href="https://mipt.ru/it/services/pochtovye-servisy/polucheniye_pochtovogo_akkaunta_v_domene_phystech_edu/poluchenie-pochtovogo-akkaunta-v-domene-phystech-edu-dlya-studentov" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Для аккаунтов @phystech.edu есть доступ к Google Drive с увеличенным лимитом 5ТБ">Получение @phystech.edu </a></li>
				<li><a href="https://mipt.ru/it/services/poluchenie-litsenzionnogo-po/poluchenie-litsenzionnogo-po" rel="noreferrer" target="_blank">ПО от Microsoft</a></li>
				<li><a href="https://docs.google.com/forms/d/e/1FAIpQLScmCLlgmGT_pzSAc7oBbxU4Yi9njZj51peGzkYkJXtORpmFEQ/viewform" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Физтехам доступны курсы от Физтеха на Coursera">Доступ к курсам на Coursera</a></li>
				<li><a href="https://mipt.ru/profkom/" rel="noreferrer" target="_blank">Профком МФТИ </a>(<a href="https://vk.com/profkom_phystech" rel="noreferrer" target="_blank">VK</a>)</li>


			</ul>
			</div>
			<div class="row-sm-3" style="background-color:lavenderblush;"><span class="boxtitle">Ранх</span>
			<ul>
				<li><a href="https://lk.ranepa.ru/profile/" rel="noreferrer" target="_blank">ЛК Ранх'а </a></li>
				<li><a href="https://lms.ranepa.ru/login/index.php" rel="noreferrer" target="_blank">LMS Ранх'а</a></li>

			</ul>
			</div>
		</div> <!-- /3 colomn-->

		<div class="col-sm-3"> <!-- 4 colomn-->
			<div class="row-sm-3" style="background-color: #f2f2f2;">
				<ul>
					<li><a href="https://palqa.ru/" rel="noreferrer" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Поке и роллы за 40 минут">Palqa</a> (<a href="https://vk.com/palqa" rel="noreferrer" target="_blank">VK</a>)</li>
					<li><a href="https://veryfood.ru/" rel="noreferrer" target="_blank">Veryfood</a></li>
					<li><a href="https://vk.com/coffeemipt" rel="noreferrer" target="_blank">Кофейня 6-ки</a></li>
					<li><a href="https://printbox.io/" rel="noreferrer" target="_blank">Printbox</a></li>
					<li><a href="http://mipt-telecom.ru/" rel="noreferrer" target="_blank">МФТИ-Телеком</a></li>
					<li><a href="https://docs.google.com/document/d/1NQTDzBdDqSEN41W76ettTOdQ6SoAfF9cPvHAWyir1II/edit?usp=sharing" rel="noreferrer" target="_blank">Велопрокат</a></li>
					<li><a href="https://buy.mipt.cc/" rel="noreferrer" target="_blank">Барахолка Физтеха</a></li>
					<li><a href="https://vk.com/phystech.vape" rel="noreferrer" target="_blank" class="clearnet">Физтех.Вейп</a></li>
                    <!--
                    <li><a href="https://yandex.com/maps/" rel="noreferrer" target="_blank">Ya Maps</a> | <a href="https://www.google.com/maps/" rel="noreferrer" target="_blank">Google Maps</a></li>
                        -->

				</ul>
			</div>
			
            <div class="row-sm-3" style="background-color:#f2f2f2;">
			<ul>
                <!--
				<li>
				<div class="ifcontainer">
					<iframe class="responsive-iframe" src="https://mipt.one/impress/"></iframe>
				</div> 
				</li>
                -->
                <li id="face">
                    <script src="/staticfiles/js/libs/modernizr.custom.js"></script>

				    <script type="text/javascript" src="/staticfiles/js/libs/three.min.js"></script>
		            <script type="text/javascript" src="/staticfiles/js/libs/Wagner.js"></script>
		            <script type="text/javascript" src="/staticfiles/js/libs/Wagner.base.js"></script>
                    <script type="text/javascript" src="/staticfiles/js/libs/EasePack.min.js"></script>
                    <script type="text/javascript" src="/staticfiles/js/libs/TweenLite.min.js"></script>
                    <script type="text/javascript" src="/staticfiles/js/swfobject.js"></script>

                    <script type="text/javascript" src="/staticfiles/fun.js"></script>
                    

				</li>


				<!-- <li><a href="https://vk.com/miptone" rel="noreferrer" target="_blank">Напиши нам! )</a></li> -->
			</ul>
			</div>
            
		</div> <!-- /4 colomn-->
	
		</div> <!-- /4 колонны-->
		
    </div>
    
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

    </script>

        
        <!-- <footer class="footer bg-dark navbar-dark" style="padding: 10px;">
        <div class="container">
            <span class="text-muted">(c) MIPT.one - ссылки и ресурсы для физтехов, скат и не только.</span>
        </div>
        </footer> -->
{% endblock %}
