{% extends "base.html" %}

{% block title %}MIPT.one - Банк задач по физике{% endblock %}

{% block navclassphysics %}active{% endblock %}

{% block real_content %}

	<div class="container-fluid">
		
		<div class="row" id="mainrows"> <!-- 4 колонны-->
		
	
		<div class="col-sm-12 col-md-4 col-lg-3" id="physfirstcol"> <!-- 1 colomn-->
            
            <div class="row-sm-3" id="physsearchdiv" style="background-color: #f2f2f2;">
            
                <ul>

                    <li style="margin-left:-30px; margin-right:0px; z-index: 100;">
                        <form method="GET" id="physform" name="theForm">
                        <div class="input-group">
                            <select name='sem' class="form-select btn-secondary" id="inputGroupSelect04" aria-label="Example select with button addon">
                                <option name='sem' value=1 selected>Механика</option>
                                <option name='sem' value=2 >Термо</option>
                                <option name='sem' value=3 >Электро</option>
                                <option name='sem' value=4 >Оптика</option>
                                <option name='sem' value=5 >Атомная</option>
                                <!-- <option name='sem' value=6 >Лабы (пока не робит)</option> -->
                            </select>

                            <input id="physnumber" type="number" step="any" name="zad" value="" class="form-control" aria-label="Text input with 2 dropdown buttons" placeholder="номер">
                            <button type="submit" value="Искать" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
                        </div>
                        </form>

                        <p style="padding: 8px;" id="physout">Поиcк по задачам</p>

                    <!-- <p style="padding:6px"> {{ search_output }} </p> -->
                    </li>

				</ul>

            </div>
            
            <div id="uploadformdiv" class="row-sm-3" style="background-color: #f2f2f2; display: none">
            <!-- <span class="boxtitle2">Выложи своё решение!</span> -->
			<ul>
				<!-- <li id='imageuploadid' style='margin-right:0px; margin-left:-32px'>

                    {% block content %}

                    <form id="fileuploadform" action="{% url 'uploadfuck' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="hiddensem" name="semup" value="1">
                        <input type="hidden" id="hiddenzad" name="zadup" value="1338">
                        <input type="hidden" name="recaptcha_response" id="recaptchaResponse">

                        <div class="input-group">
                            <input type="file" class="form-control" id="fileinput" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="image_file">
                            <button class="btn btn-outline-secondary" type="submit" value="submit" id="inputGroupFileAddon04">Залить</button>
                        </div>

                    </form>



                    {% endblock %}

                </li> -->

                <li>
                    <p style="padding:6px; font-weight: bold;">Скиньте <a href="https://t.me/miptone_bot">телеграм боту</a> своё решение одной фоткой и оно появится здесь.</p>
                </li>
                
			</ul>
            </div>
            

            <div class="row-sm-3" id="statsdiv" style="background-color: #f2f2f2;">
                <!-- <span class="boxtitle2">Решено задач:</span> -->
                <ul>
                    <li>
                        <table class="table table-hover table-borderless table-sm">
                            <!-- <caption>Cайт защищен reCAPTCHA и не только, попытки сломать приветствуются</caption> -->
                            <thead class="text-end">
                              <tr>
                                <th scope="col"></th>
                                <th scope="col">Реш.</th>
                                <th scope="col">из</th>
                                <th scope="col">{{ freedom }}%</th>
                              </tr>
                            </thead>
                            <tbody class="text-end">
                              <tr>
                                <th scope="row">Механика</th>
                                <td>{{ count1 }}</td>
                                <td>{{ total1 }}</td>
                                <td>{{ coverage1 }}%</td>
                              </tr>
                              <tr>
                                <th scope="row">Термо</th>
                                <td>{{ count2 }}</td>
                                <td>{{ total2 }}</td>
                                <td>{{ coverage2 }}%</td>
                              </tr>
                              <tr>
                                <th scope="row">Электро</th>
                                <td>{{ count3 }}</td>
                                <td>{{ total3 }}</td>
                                <td>{{ coverage3 }}%</td>
                              </tr>
                              <tr>
                                <th scope="row">Оптика</th>
                                <td>{{ count4 }}</td>
                                <td>{{ total4 }}</td>
                                <td>{{ coverage4 }}%</td>
                              </tr>
                              <tr>
                                <th scope="row">Атомная</th>
                                <td>{{ count5 }}</td>
                                <td>{{ total5 }}</td>
                                <td>{{ coverage5 }}%</td>
                              </tr>
                            </tbody>
                        </table>


                    </li>
                </ul>
            </div>

            <div class="row-sm-3" id="physinfodiv" style="background-color: #f2f2f2;">
                <ul>
                    <li><p style="padding: 6px;">
                        <a href="https://t.me/miptone_bot" rel="noreferrer" target="_blank">Телеграм бот</a> ({{ all_time_users_count }}&nbsp;пользователей)
                        <br>
                        <a href="https://drive.google.com/drive/folders/1zB4E5HoILlMkiovoZR6gN2HZBMItlU1E?usp=sharing" rel="noreferrer" target="_blank">Задачник и Корявов</a>
                        <br>
                        <a href="https://mipt.one/mediafiles/imgbank/kor_data.csv">Используемые данные здесь</a>
                        </p>
                    </li>
                </ul>
            </div>


		</div> <!-- /1 colomn-->
		
		<div class="col-sm-12 col-md-8 col-lg-9"> <!-- 2 colomn-->

            <div id="solutiondiv" class="row-sm-3" style="background-color: #f2f2f2; display: none;"><span class="boxtitle3">Решение</span>
                <ul>
                    <li id="solutionimage">


                    </li>
                    <li id="solutionimage2" style="display: none;">


                    </li>
                    <li id="solutionimage3" style="display: none;">


                    </li>
                </ul>
            </div>
           
		</div> <!-- /2 colomn-->

	
		</div> <!-- /4 колонны-->
        
        
        {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js?render=6LddowgaAAAAACLT_o3UJEZZZvhVldoc3URO6Jdk"></script>
    
        <!-- SEARCH FORM -->
        <script>
            function fuckingsearch() {
                $.ajax({
                        data: $('#physform').serialize(), // get the form data
                        url: "{% url 'phys' %}",
                        // on success
                        success: function(response) {
                            $("#physout").html(response.search_output);
                            $("#solutionimage").html('<img src="'+ response.image_url + '.jpg" class="img-fluid" alt="No image... for now">');
                            $("#solutionimage2").html('<img src="'+ response.image_url + '-2.jpg" class="img-fluid" alt="No second image... for now">');
                            $("#solutionimage3").html('<img src="'+ response.image_url + '-3.jpg" class="img-fluid" alt="No second image... for now">');

                            $("#hiddensem").attr("value", response.sem);
                            $("#hiddenzad").attr("value", response.zad);

                            div = document.getElementById("uploadformdiv");
                            soldiv = document.getElementById("solutiondiv");
                            image2 = document.getElementById("solutionimage2");
                            image2.style["display"] = "none";
                            image3 = document.getElementById("solutionimage3");
                            image3.style["display"] = "none";

                            if (response.image_found == false) {
                                div.style["display"] = "block";
                                soldiv.style["display"] = "none";
                            }

                            if (response.image_found == true) {
                                div.style["display"] = "none";
                                soldiv.style["display"] = "block";
                                if (response.second_file == true) {
                                    image2.style["display"] = "block";
                                    if (response.third_file == true) {
                                        image3.style["display"] = "block";
                                    }
                                }
                            }

                            if (response.wrong_input == true) {
                                div.style["display"] = "none";
                                soldiv.style["display"] = "none";
                            }
                            // alert('it worked');
                            // alert(response.search_output);
                        },
                        // on error
                        error: function(response) {
                            alert('it didnt work');
                            // alert the error if any error occured
                            console.log(response.responseJSON.errors)
                        }
                    });
            }

            $(document).ready(function () {
                // catch the form's submit event
                $('#physform').submit(function() {
                    fuckingsearch()
    
                    return false;
                });
            })


        // FILE UPLOAD FORM
            $(document).ready(function () {
                // catch the form's submit event
                $('#fileuploadform').submit(function(event) {
                    event.preventDefault();
                    grecaptcha.ready(function() {
                        grecaptcha.execute('6LddowgaAAAAACLT_o3UJEZZZvhVldoc3URO6Jdk', {action: 'submit'}).then(function(token) {
                            $("#recaptchaResponse").attr("value", token);
                            var form = $('#fileuploadform')[0];
                            var data = new FormData(form);
                            // jQuery.each(jQuery('#fileinput')[0].files, function(i, file) {
                            //     data.append('file-'+i, file);
                            // });
                            // create an AJAX call
                            $.ajax({
                                url: "{% url 'uploadfuck' %}",
                                data: data, // get the form data
                                // contentType: "multipart/form-data",
                                cache: false,
                                contentType: false,
                                processData: false,
                                method: "POST",
                                enctype: 'multipart/form-data',
                                // on success
                                success: function(response) {
                                    // upout = document.getElementById("uploadout");
                                    // if (response.diditwork == 0) {
                                    //     upout.style["display"] = "block";
                                    // } else {
                                    // upout.style["display"] = "none";
                                    $("#inputGroupSelect04").attr("value", response.sem);
                                    $("#physnumber").attr("value", response.zad);
                                    fuckingsearch()
                                        // alert('it worked');
                                        // alert(response.search_output);
                                    // }
                                },
                                // on error
                                error: function(response) {
                                    alert('it didnt work');
                                    // alert the error if any error occured
                                    console.log(response.responseJSON.errors)
                                }
                            });
                        });
                    });


                    return false;
                });
            })
        </script>
        {% endblock javascript %}


    </div>
    
{% endblock %}
